{% extends 'base-admin.html.twig' %}

{% set title = options.title is defined ?  options.title : 'Delete item' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block h1 %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="alert alert-warning">
            {% if options.title is defined %}
                <h3>{{ options.title }}</h3>
            {% endif %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <hr>
            <a href="{{ path(returnUrl, params) }}" >Cancel</a>
            {% if options.submitButton is defined %}
                {{ options.submitButton|raw }}
            {% else %}
                <button type="submit" class="btn btn-danger" onclick="">Delete</button>
            {% endif %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}